@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
header {
  position: fixed;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container-brand-logo {
  padding: 1em;
}
@media (max-width: 559px) {
  header .container-brand-logo {
    padding-top: 0;
    margin-top: -0.7em;
  }
}
header .container-brand-logo i {
  font-size: 3rem;
  color: white;
}
header .toggle-nav-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 9999;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}
@media (max-width: 559px) {
  header .toggle-nav-btn {
    display: block;
  }
}
header .toggle-nav-btn i {
  font-size: 2rem;
  color: white;
}
header nav {
  overflow: hidden;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3rem);
  padding-left: 1em;
}
@media (max-width: 559px) {
  header nav {
    position: fixed;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: 1s;
  }
  header nav ul {
    gap: 1.5em;
    margin-top: 3em;
    flex-direction: column;
  }
  header nav ul li {
    margin-left: 0.7em;
  }
  header nav ul li a {
    font-size: 1.4rem;
  }
}
header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
header nav ul li {
  margin-right: 1em;
}
header nav ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
header nav[data-visible=true] {
  transform: translateX(0%);
}

.container-intro {
  width: 80%;
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 559px) {
  .container-intro {
    width: 90%;
  }
}
.container-intro .title {
  font-size: 3rem;
}
.container-intro .subtitle {
  font-size: 2rem;
  letter-spacing: 0.3em;
}
.container-intro .subtitle strong {
  text-decoration: underline;
}

.section-about {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.section-about .title {
  font-size: 4rem;
  margin-bottom: 0.4em;
}
.section-about .section-center-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2em;
}
.section-about .section-center-container .container-about-img {
  height: 17rem;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.section-about .section-center-container .container-about-img img {
  object-fit: cover;
  width: 500px;
  height: 450px;
  transition: 1s;
}
.section-about .section-center-container .container-about-img img:hover {
  transform: scale(1.2);
}
.section-about .section-center-container .container-about-center h3 {
  font-size: 2rem;
}
.section-about .section-center-container .container-about-center p {
  font-size: 1.1rem;
}

.section-project {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.section-project .title {
  font-size: 4rem;
  margin-bottom: 0.4em;
}
.section-project .section-center-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  grid-gap: 2em;
}
.section-project .section-center-container .container-project-img {
  min-height: 17rem;
  overflow: hidden;
  display: grid;
  place-content: center;
}
.section-project .section-center-container .container-project-img img {
  object-fit: cover;
  width: 700px;
  height: 400px;
  transition: 1s;
}
.section-project .section-center-container .container-project-img img:hover {
  transform: scale(1.2);
}
.section-project .section-center-container .container-project-center h3 {
  font-size: 2rem;
}
.section-project .section-center-container .container-project-center p {
  font-size: 1.1rem;
}

footer {
  min-height: 8vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 3rem;
}
footer h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
@media (max-width: 559px) {
  footer h4 {
    font-size: 1.4rem;
  }
}
footer ul {
  width: 30%;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-evenly;
}
footer ul li {
  margin-left: 2em;
}
footer ul li a i {
  font-size: 2rem;
  transition: 0.5s;
}
footer ul li a i:hover {
  transform: translateY(-1rem);
}
footer ul li a:visited {
  color: white;
}

@supports (backdrop-filter: blur(1rem)) {
  footer {
    backdrop-filter: blur(0.2rem);
  }
}
.section-skills {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.section-skills .title {
  font-size: 4rem;
}
.section-skills .skills-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: center;
  align-items: center;
}
.section-skills .skills-container .skill-container-center {
  position: relative;
  width: 80%;
}
.section-skills .skills-container .skill-container-center .container-skill-percent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.section-skills .skills-container .skill-container-center .container-skill-percent span {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.section-skills .skills-container .skill-container-center .line {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background-color: #b9b9b9;
}
.section-skills .skills-container .skill-container-center .line-html::before {
  position: absolute;
  content: "";
  width: 85%;
  background-color: #f34b4b;
  height: 4px;
}
.section-skills .skills-container .skill-container-center .line-css::before {
  position: absolute;
  content: "";
  width: 75%;
  background-color: #f34b4b;
  height: 4px;
}
.section-skills .skills-container .skill-container-center .line-js::before {
  position: absolute;
  content: "";
  width: 80%;
  background-color: #f34b4b;
  height: 4px;
}
.section-skills .skills-container .skill-container-center .line-reactjs::before {
  position: absolute;
  content: "";
  width: 60%;
  background-color: #f34b4b;
  height: 4px;
}

.section-photo {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}
.section-photo .title {
  font-size: 4rem;
  margin-bottom: 0.5em;
}
.section-photo .container-photos {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 75px;
  grid-gap: 0.7em;
}
@media (min-width: 1024px) {
  .section-photo .container-photos {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }
}
@media (max-width: 559px) {
  .section-photo .container-photos {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }
}
.section-photo .container-photos .container-img {
  overflow: hidden;
}
.section-photo .container-photos .container-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}
.section-photo .container-photos .container-img img:hover,
.section-photo .container-photos .container-img img:focus {
  transform: scale(1.4);
}
.section-photo .container-photos .container-img-long {
  grid-column: span 2;
}
.section-photo .container-photos .container-img-tall {
  grid-row: span 2;
}
.section-photo .container-photos .container-img-tall {
  grid-column: span 2;
  grid-row: span 2;
}

.section-contact {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.section-contact .container-center {
  padding: 2em;
  width: 100%;
  height: 72vh;
  display: flex;
  background-color: #201f1f;
}
@media (max-width: 559px) {
  .section-contact .container-center {
    height: 50vh;
  }
}
.section-contact .container-center .container-title {
  width: 35%;
  overflow: hidden;
}
.section-contact .container-center .container-title .title {
  font-size: 4rem;
}
@media (min-width: 560px) and (max-width: 1023px) {
  .section-contact .container-center .container-title .title {
    font-size: 3rem;
  }
}
@media (max-width: 559px) {
  .section-contact .container-center .container-title .title {
    font-size: 2rem;
  }
}
.section-contact .container-center form {
  width: 65%;
  height: 100%;
}
@media (max-width: 559px) {
  .section-contact .container-center form {
    width: 60%;
  }
}
.section-contact .container-center form .field {
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 559px) {
  .section-contact .container-center form .field {
    font-size: 1rem;
  }
}
@media (min-width: 560px) and (max-width: 1023px) {
  .section-contact .container-center form .field {
    font-size: 1.5rem;
  }
}
.section-contact .container-center form .field label {
  text-transform: capitalize;
}
.section-contact .container-center form .field input {
  outline: none;
  border: none;
  background-color: transparent;
  height: 3rem;
  color: white;
  font-size: 2.5rem;
  border-bottom: 2px solid grey;
}
@media (max-width: 559px) {
  .section-contact .container-center form .field input {
    font-size: 1rem;
  }
}
@media (min-width: 560px) and (max-width: 1023px) {
  .section-contact .container-center form .field input {
    font-size: 1.5rem;
  }
}
.section-contact .container-center form .field span {
  text-transform: capitalize;
}
.section-contact .container-center form button {
  background-color: white;
  border: none;
  outline: none;
  width: 25%;
  height: 10%;
  text-transform: capitalize;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.section-contact .container-center form button:hover {
  background-color: #70ad70;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images.pexels.com/photos/235621/pexels-photo-235621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow-x: hidden;
  background-attachment: fixed;
  color: white;
}

main {
  width: 100vw;
}

/*# sourceMappingURL=style.css.map */
