@use '../Abstract/' as *;
.container-intro{
    width: 80%;
    height: 100vh;
    display: grid;
    place-content: center;
    margin: 0 auto;
    color: $white;
    text-transform: uppercase;
    .title{
        font-size: 3rem;
    }
    .subtitle{
        font-size: 2rem;
        letter-spacing: .3em;
        strong{
            text-decoration: underline;
        }
    }
}