 @use '../Abstract/' as *;
 footer{
    min-height: 8vh;
    width: 100vw;
    background-color: $black_translucent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-top: 3rem;
    h4{
        font-size: 2rem;
        text-transform: uppercase;
    }
    ul{
        width: 30%;
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: space-evenly;
        li{
            margin-left: 2em;
            a{
                i{
                    font-size: 2rem;
                    transition: .5s;
                }
                i:hover{
                    transform: translateY(-1rem);
                }
            }
            a:visited{
                color: white
            }
        }
    }
}

@supports(backdrop-filter: blur(1rem)){
    footer{
        backdrop-filter: blur(.2rem);
    }
}