@use '../Abstract/' as *;
.section-project{
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
    .title{
        font-size: 4rem;
        margin-bottom: .4em;
    }
    .section-center-container{
        // height: 70%;
        display: grid;
        // background-color: red;
        grid-template-columns: repeat(auto-fill,minmax(22rem, 1fr));
        grid-gap: 2em;
        .container-project{
            // border: 2px solid $white;
            &-img{
                min-height: 17rem;
                overflow: hidden;
                display: grid;
                place-content: center;
                img{
                    object-fit: cover;
                    width: 700px;
                    height: 400px;
                    transition: 1s;
                }
                img:hover{
                    transform: scale(1.2);
                }
            }
            &-center{
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.1rem;
                }
            }
        }
    }
}